<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<!DOCTYPE html>
<html>
<head>
    <title>MAIN</title>
    <style>
         header {
            background-color: #f9f9f9;
            padding: 20px;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }

        body { 
            background-color: #9eddff;
        }
    </style>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'https://krdict.korean.go.kr/api/search?key=5A340B3B26C1D4C0CBA1CC80AD1B98C6&q=무나',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    alert(document[1]);
                },
                error: function (data) {
                    console.log(data);
                    alert("실패");
                }
            });
        });
    </script>
</head>
<body>
    <header>
        <h1>훈민정음</h1>
    </header>
    <div style="text-align: center; justify-content: center">
        <h1><b>ㄱㄴ</b></h1>
        <form>
            <input type="text">
            <button type="submit">제출</button>
        </form>
    </div>
<footer>
</footer>
</body>
</html>